.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-group-item {
  border-width: 0;
}

.me {
  position: relative;
  float:right;
  border: 2px dimgrey solid;
  border-radius: 0 20px 0 20px;
  margin-left: -20px;
  padding: 10px;
}

.me:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 8px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: dimgrey;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.other {
  position: relative;
  float:left;
  border: 2px yellowgreen solid;
  border-radius: 20px 0 20px 0;
  margin-left: -20px;
  padding: 10px;
}

.other:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 8px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: yellowgreen;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -10px;
}

