
/*.media {*/
/*position: relative;*/
/*background: lightgrey;*/
/*border-radius: .4em;*/
/*margin: .2em;*/
/*}*/

/*.media:after {*/
/*content: '';*/
/*position: absolute;*/
/*left: 0;*/
/*top: 50%;*/
/*width: 0;*/
/*height: 0;*/
/*border: 20px solid transparent;*/
/*border-right-color: lightgrey;*/
/*border-left: 0;*/
/*border-bottom: 0;*/
/*margin-top: -10px;*/
/*margin-left: -20px;*/
/*}*/
