<div class="card" style="border: 0px;">
  <div class="card-body">
    <small>
      <fa [name]="'clock-o'"></fa>
        {{message.createdAt | date:'shortTime'}}
      <strong>{{message.name}}</strong> dotted:
    </small>
    <div>{{ message.message | uppercase }}</div>
  </div>
</div>

