/*input.ng-invalid.ng-touched {*/
  /*border: 1px solid red;*/
/*}*/

/*.row {*/
  /*padding-top: 15px;*/
/*}*/

.block{
  display: block;
}

input.ng-invalid.ng-touched  {
  border-left: 5px solid red;
}

input.ng-valid.ng-touched  {
  border-left: 5px solid green;
}
