
<div class="row mt3">
  <div class="col">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
        <span
          *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
          class="help-block">Please enter a valid username!</span>
        <label for="email">email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control">
        <span
          *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
          class="help-block">Please enter a valid email address!</span>
        <label for="signature">DotMessage Signature</label>
        <input
          type="text"
          id="signature"
          formControlName="signature"
          class="form-control">
        <span
          *ngIf="!signupForm.get('signature').valid && signupForm.get('signature').touched"
          class="help-block">Please enter a valid signature!</span>
      </div>
      <button
        [disabled]="!signupForm.valid"
        class="btn btn-primary center-block"
        type="submit">Work that dotmessage</button>
    </form>
  </div>
</div>
