<div class="row">
  <div class="col">

      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group mb-3">
            <input
              type="text"
              id="message"
              formControlName="message"
              class="form-control">
            <div class="input-group-append">
              <button
                [disabled]="!messageForm.valid"
                class="btn btn-outline-secondary"
                type="submit">Send
              </button>
            </div>
          </div>
        </div>
      </form>

  </div>
</div>



